[submodule "Plugins/RPRPlugin/ThirdParty/RadeonProRenderSDK"]
	path = Plugins/RPRPlugin/ThirdParty/RadeonProRenderSDK
	url = git@github.com:Radeon-Pro/RadeonProRenderSDK.git
[submodule "Plugins/RPRPlugin/ThirdParty/gli"]
	path = Plugins/RPRPlugin/ThirdParty/gli
	url = git@github.com:feniksa/gli.git
	branch = master
[submodule "Plugins/RPRPlugin/ThirdParty/glm"]
	path = Plugins/RPRPlugin/ThirdParty/glm
	url = git@github.com:g-truc/glm.git
	branch = master
[submodule "Plugins/RPRPlugin/ThirdParty/RadeonProImageProcessingSDK"]
	path = Plugins/RPRPlugin/ThirdParty/RadeonProImageProcessingSDK
	url = git@github.com:Radeon-Pro/RadeonProImageProcessingSDK.git
	branch = master
[submodule "Plugins/RPRPlugin/ThirdParty/RadeonProRenderSharedComponents"]
	path = Plugins/RPRPlugin/ThirdParty/RadeonProRenderSharedComponents
	url = git@github.com:Radeon-Pro/RadeonProRenderSharedComponents.git
	branch = master
